#cloneReader, #cloneReader * {
	position:relative;
	margin:0; padding:0;
	color:#333;
}
	#cloneReader ul.ulMenu {
		list-style:none;
		display:block;
		border-top:1px #ccc solid;
		border-bottom:1px #ccc solid;
		background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
		background: -webkit-gradient(linear, left top, left bottom,from(#F9F9F9),to(#E3E3E3));
		padding:0 15px 0 0;
		margin: 0 0 1px 0;
		box-shadow: 0 5px 7px gray;
		height:40px;
		z-index: 1;
	}
		#cloneReader ul.ulMenu li {
			background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
			background: -webkit-gradient(linear, left top, left bottom,from(#F9F9F9),to(#E3E3E3)); 
			border-color: #CCCCCC #BBBBBB #A0A0A0;
			border-left: 1px solid #BBBBBB;
			border-radius: 0;
			border-right: 1px solid #BBBBBB;
			border-style: solid;
			border-width: 1px;
			cursor: pointer;
			font-size: 12px;
			outline: medium none;
			text-align: center;
			text-shadow:0 1px 0 white;
			line-height:30px;
			width:30px;
			margin:5px 5px 5px 0 ;
			float:right;
			-moz-user-select: none;
			-khtml-user-select: none;
			-webkit-user-select: none;
			user-select: none;			
		}
		#cloneReader ul.ulMenu li.reload {
			font-size:20px;
		}
		#cloneReader ul.ulMenu li.viewDetail {
			background: url(img/view_options_details.png) no-repeat scroll center center transparent;
		}
		#cloneReader ul.ulMenu li.prev {
			margin:5px 0;
			border-right: 0 none;		
		}
		#cloneReader ul.ulMenu li.viewList {
			background: url(img/view_options_list.png) no-repeat scroll center center transparent;
			margin:5px 0;
			border-right: 0 none;
		}
		#cloneReader ul.ulMenu li:hover {
			box-shadow: 0px 0px 4px #CCC;
		}
		#cloneReader ul.ulMenu li:active {
			box-shadow: 0px 0px 4px #CCC inset;
		}
		
		#cloneReader ul.ulMenu li.checked,
		#cloneReader ul.ulMenu li.checked:hover,
		#cloneReader ul.ulMenu li.checked:active {
			background-color: #DDDDDD;
			box-shadow: 0 0 2px gray inset;
			cursor: default;
		}
		#cloneReader ul.ulMenu li.filterUnread,
		#cloneReader ul.ulMenu li.filterSort,
		#cloneReader ul.ulMenu li.feedSettings {
			padding: 0 0 0 15px;
			width: auto;
			text-align: right;
		}
		#cloneReader ul.ulMenu li.filterUnread {
			min-width:100px;
		}
			#cloneReader ul.ulMenu li .arrow {
				border-left: 1px solid #CCCCCC;
				display: inline-block;
				font-size: 9px;
				line-height: 20px;
				margin: 0 0 0 10px;
				width: 20px;
				text-align: center;
			}
		#cloneReader ul.ulMenu li.add  {
			font-size: 20px;
			font-weight: bold;
			font-weight: bold;
		}
		#cloneReader ul.ulMenu > li.expanded,
		#cloneReader ul.ulMenu > li.expanded:hover,
		#cloneReader ul.ulMenu > li.expanded:active {
			box-shadow: none;
			background: #DDD;
		}		
		#cloneReader ul.ulMenu li.expand {
			float: left;
			font-weight: bold;
			font-size:16px;
			margin:5px 5px 5px 10px;
		}		


	#cloneReader .ulEntries {
		display:block;
		border:0px gray solid;
		list-style: none;
		width: auto;
		height:500px;
		overflow: auto;
		margin:0 0 0 240px;
		background:white;
	}
		#cloneReader .ulEntries > li {
			padding:10px;
			border:1px #CCC solid;
			border-radius:5px;
			margin:10px 5px 30px 5px;
			box-shadow:0 15px 7px -14px gray;
		}
		#cloneReader .ulEntries > li.selected {
			border-left:1px #1155CC solid !important;
			border-radius:0 5px 5px 0; 
		}
		#cloneReader .ulEntries > li.clean, 
		#cloneReader .ulEntries > li.clean.selected {
			border:0;
			box-shadow:none;
		}
		#cloneReader .ulEntries > li.noResult {
			border-radius: 0 0 0 0;
			box-shadow: 0 0 3px #CCCCCC inset;
			text-transform: capitalize;
		}
		#cloneReader .ulEntries > li.noResult.loading {
			background: url("img/loading.gif") no-repeat scroll 10px 7px #eee;
			padding: 10px 10px 10px 40px !important;
		}
		#cloneReader .ulEntries.list > li.noResult.loading {
			background-position:10px center;			
		}		
		#cloneReader .ulEntries > li.entriesHead,
		#cloneReader .ulEntries.list > li.entriesHead {
			border:none;
			border-bottom:1px #CCC solid;
		    border-radius: 0 0 0 0;
		    font-size: 15px;
		    font-weight: bold;
		    margin:10px 0px;			
	        padding: 10px;
            box-shadow: 0 15px 7px -14px gray;
            min-height: 10px !important;
		}
		#cloneReader .ulEntries > li.readed {}
			#cloneReader .ulEntries > li .header {
				margin: 0 0px 10px 0;
			}
				#cloneReader .ulEntries > li .header > a {
					color:#1155CC;
					font-size: 16px;
					font-weight: bold;
					background-repeat: no-repeat;
					padding: 0 0px 0 20px;
					margin: 0 215px 0 0 ;
					display: inline-block;
				}
				#cloneReader .ulEntries > li .header a {
					color:#1155CC;
				}
				#cloneReader .ulEntries > li.readed .header a {
					color: #333;
				}
				#cloneReader .ulEntries > li.selected .header a {
					color:#1155CC;
				}
				#cloneReader .ulEntries > li .header div {
					color: gray;
					font-size:12px;
				}
					#cloneReader .ulEntries > li .header div a {
						font-size:12px;
						font-weight:normal;
						cursor:pointer;
					}
				#cloneReader .ulEntries > li .header .entryDate {
					color: gray;
					position: absolute;
					right: 20px;
					top: 0px;				
				}
				#cloneReader .ulEntries > li .header .star {
					position: absolute;
					right: 0px; top: 0px;
					width:16px; height:16px;
					background: url(img/star-off.png) no-repeat scroll 0 0 transparent;
					cursor: pointer;
				}
				#cloneReader .ulEntries > li .header .star.selected {
					background: url(img/star-on.png);
				}
			#cloneReader .ulEntries > li p {
				margin:0 0 25px 0;
				max-width: 100%;
				overflow: auto;				
			}
				#cloneReader .ulEntries > li p img {
					max-width:100%;
					width: auto;
				}
				#cloneReader .ulEntries > li p a {
					text-decoration: underline;
					color: #1155CC;
				}
				#cloneReader .ulEntries > li p ul,
				#cloneReader .ulEntries > li p ol,
				#cloneReader .ulEntries > li p li 
				{
					margin:auto;
					padding:0 0 0 40px;
				}
			#cloneReader .ulEntries > li .footer {
				background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
				background: -webkit-gradient(linear, left top, left bottom,from(#F9F9F9),to(#E3E3E3)); 
				border-radius: 0 0 4px 4px;
				bottom: 0;
				height: 25px;
				left: 0;
				position: absolute;
				width: 100%;
				border-top: 1px solid #DDDDDD;
			}
				#cloneReader .ulEntries > li.selected .footer {
					border-radius: 0 0 4px 0px;
				}
				#cloneReader .ulEntries > li .footer * {
					height:25px; line-height:25px;
					color:#333;
					float: left;
					margin:0 5px;
					font-size:11px;
				}
				#cloneReader .ulEntries > li .footer .star {
					width:16px; 
					background: url(img/star-off.png) no-repeat scroll center center transparent;
					cursor: pointer;
				}
				#cloneReader .ulEntries > li .footer .star.selected {
					background-image: url(img/star-on.png);
				}
				#cloneReader .ulEntries > li .footer .read {
					color:gray;
				}
				#cloneReader .ulEntries > li .footer .read.selected {
					color:#333;
				}
					#cloneReader .ulEntries > li .footer .checkbox {
						border: 1px solid gray;
						background: none repeat scroll 0 0 white;
						box-shadow:0 0 4px #CCCCCC inset;
						cursor: pointer;
						font-size: 12px;
						height: 12px;
						line-height: 12px;
						text-align: center;
						top: 5px;
						width: 12px;
					}
					#cloneReader .ulEntries > li .footer .read.selected .checkbox {
						background: none repeat scroll 0 0 white;
						box-shadow: 0 0 4px #CCCCCC;
						color: #3176CB;
						font-weight: bold;
					}
					
		#cloneReader .ulEntries.list > li {
			border-radius: 0 0 0 0;
			box-shadow: none;
			margin: 0;
			padding: 0;
			border: 0;
			border-bottom: 1px solid #CCCCCC;
			min-height:40px !important;
		}
		#cloneReader .ulEntries.list > li.entriesHead {
		    border-bottom: 1px solid #CCCCCC;
		    box-shadow: none;
		    margin: 10px 0 0;
		}		
		#cloneReader .ulEntries.list > li.noResult {
			padding:0px 0 0 10px;
			line-height: 40px;
			border: 0 none;
			box-shadow: 0 0 4px #DDDDDD inset;
			margin: 10px 0;
		}
		#cloneReader .ulEntries.list > li.noResult.loading {
			padding: 0px 0px 0 40px !important;			
		}
		#cloneReader .ulEntries > li .detail {
			padding:10px;
		}
		#cloneReader .ulEntries.list > li.expanded {
			display:block;
		}
			#cloneReader .ulEntries.list > li .title {
				height: 40px;
				line-height: 40px;
			}
			#cloneReader .ulEntries.list > li .title * {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				height: 40px;
				line-height: 40px;
				margin: 0 5px;
				float: left;
			}		
			#cloneReader .ulEntries.list > li.expanded .title,
			#cloneReader .ulEntries.list > li.readed .title {
				background: #eee;
			}
				#cloneReader .ulEntries.list > li .title .star {
					width:16px; 
					background: url(img/star-off.png) no-repeat scroll center center transparent;
					cursor: pointer;
				}
				#cloneReader .ulEntries.list > li .title .star.selected {
					background-image: url(img/star-on.png);					
				}
				#cloneReader .ulEntries.list > li .title .feedName {
					width: 150px;
					cursor: pointer;
					color: gray;
				}
				#cloneReader .ulEntries.list > li .title .entryContent {
					color: gray;
					left: 175px;
					position: absolute;
					right: 128px;
					text-align: left;
					cursor: pointer;
				}
					#cloneReader .ulEntries.list > li .title .entryContent h2 {
						color: #333;
						font-weight: bold;
						display: inline;
					}
					#cloneReader .ulEntries.list > li.readed .title	.entryContent h2 {
						font-weight: normal;
					}
				#cloneReader .ulEntries.list > li .title .entryDate {
					float: right;
					margin: 0 10px 0 0;
   					color: gray;
				}
				#cloneReader .ulEntries.list > li .footer {
					border-radius: 0;
				}


	#cloneReader ul.ulFilters {
		width: 240px;
		position:absolute;
		left:0; top:44px;
		overflow:auto;
		list-style: none;
	}
		#cloneReader ul.ulFilters li {
			margin: 5px 0 0 0;
		}
			#cloneReader ul.ulFilters li div {}
			#cloneReader ul.ulFilters li div:hover {
				background-color:#EEE;
			}			
				#cloneReader ul.ulFilters li div a, 
				#cloneReader ul.ulFilters li div span {
					line-height:20px;
					height:20px;
					font-size:13px;
				}
				#cloneReader ul.ulFilters li div .icon {
					background-position: center center;
					background-repeat: no-repeat;				
					font-size: 10px;
					left: 10px;
					position: absolute;
					top: 0px;
					width: 16px;
					text-align: center;	
				}
				#cloneReader ul.ulFilters li div .icon.arrow {
					margin: 0 5px 0 0;
					cursor: pointer;
				}			
				#cloneReader ul.ulFilters li div a {
					cursor: pointer;
					display: block;
					margin:0 55px 0 30px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					font-weight: bold;
				}
				#cloneReader ul.ulFilters li.empty > div > a {
					color:gray;
					font-weight: normal;
				}
				#cloneReader ul.ulFilters li.selected > div > a {
					color:#d14836;
				}
		#cloneReader ul.ulFilters li.expand {
		}
			#cloneReader ul.ulFilters li .count {
				font-size: 10px;
				cursor:default;
				color:gray;
				position:absolute;
				top:0; right:10px;
			}
			#cloneReader ul.ulFilters li ul {
				padding:0;
				list-style:none;
			}
				#cloneReader ul.ulFilters li ul  li {
				}
					#cloneReader ul.ulFilters li ul  li .icon {
						left:26px;
					} 
					#cloneReader ul.ulFilters li ul  li a {
						margin-left:46px;
					}
						#cloneReader ul.ulFilters li ul li ul li .icon {
						left:42px;
					} 
					#cloneReader ul.ulFilters li ul li ul li a {
						margin-left:62px;
					}





	#cloneReader .popUpWindow {
		background: none repeat scroll 0 0 white;
		border: 1px solid #CCCCCC;
		border-radius: 0 0 5px 5px;
		box-shadow: 0 5px 5px gray;
		height: auto;
		list-style: none outside none;
		position: absolute;
		z-index: 10;
		overflow: auto;
	}
		#cloneReader .popUpWindow li {
			background: none repeat scroll 0 0 white;
			border: 0 none;
			display: block;
			float: none;
			padding: 0 0 0 10px;
			text-align: left;
			width: auto;
			margin:5px 0;
			line-height: 25px;
			cursor:pointer;
		}
		#cloneReader .popUpWindow li:hover {
			box-shadow:none;
			background-color:#EEE;
		}
	#cloneReader .popUpWindow.popupAddFeed {
		border-radius: 0px 0px 5px 5px;
		text-align: left;
		background: none repeat scroll 0 0 white;
		cursor: default;
	}
		#cloneReader .popUpWindow.popupAddFeed li {
			padding:0;
			cursor: default;
		}
		#cloneReader .popUpWindow.popupAddFeed li:hover {
			background-color:white;
		}
				#cloneReader .popUpWindow.popupFeedSettings li .check {
					color: gray;
					display: inline-block;
					width: 16px;
				}


	#cloneReader form.popUpWindow  {
		padding: 10px;
	}
		#cloneReader form.popUpWindow input {
			height: 23px;
			width: 240px;
			border: 1px solid #CCCCCC;
			padding:0 5px;
		}
		#cloneReader form.popUpWindow button {
			height: 25px;
			line-height: 25px;
			padding: 0 8px;
		}


.nicescroll-rails div {
	cursor: pointer; /* FIXME: mover esto de aca !*/
}
