#header div .logo {
	margin: 5px;
	position: relative;
	z-index: 9;
	overflow: hidden;
	padding-right: 50px;
    text-shadow: 1px 0 0 #3071A9, -1px 0 0 #3071A9, 0 1px 0 #3071A9, 0 -1px 0 #3071A9;	
    box-shadow: 0px 1px 0px #CCCCCC inset, 1px 1px 5px #C1C1C1;
    font-size: large;    
}
	#header div .logo span {
		font-size: small;
		line-height: 19px;
		padding: 0;
		position: absolute;
		right: -39px;
		top: 4px;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		width: 113px;
	}
	
.mainToolbar .caret {
    border-bottom-color: #333333;
    border-top-color: #333333;
}	
			
#cloneReader {
	position:relative;
	overflow:hidden;
	margin-top:100px;
}
#cloneReader .popupForm {
    padding: 5px 10px;
    width:300px;
}
	#cloneReader nav {
		top:50px;
		z-index: 1;
		margin:0;
		box-shadow: 0 0px 7px #666;
	}
		#cloneReader .nav > li {
			margin-left:5px;
		}
		#cloneReader .nav > li:last-child {
			margin-right:5px;
		}
		#cloneReader nav i {
			color: #555;
		}
		#cloneReader nav .dropdown-menu {
			text-align: left;
		}
			#cloneReader nav .dropdown-menu li {
				cursor: pointer;
			}
			#cloneReader nav .dropdown-menu li.divider {
				cursor: default;
			}
		#cloneReader nav .feedSettings a,
		#cloneReader nav .filterSort a,
		#cloneReader nav .filterUnread a {
/*			font-size: small;*/
		}
		#cloneReader nav .expand,
		#cloneReader nav .tooglePageHeader {
/*			float: left;*/
		}	
		#cloneReader .navbar-collapse {
			max-height:none;
		}		

/*
	#cloneReader nav:first-child {
		float:left;
		border:1px red solid;
	}
	#cloneReader nav:last-child {
		float:right;
		border:1px red solid;
	}	*/
	
			
@media (min-width: 768px) {
	#cloneReader nav ul li button .btnLabel {
		display:none;
	}
}		

	#cloneReader .ulEntries {
		display:block;
		border:0px gray solid;
		list-style: none;
		width: auto;
		min-width:200px;
		margin: 0 0 0 240px;
		padding:0;
		position: relative;
		overflow-x:auto;
		background:#EEEEEE;
	}
		#cloneReader .ulEntries > li {
			background:white;
			padding:0 0 0 1px;
			border:1px #CCC solid;
			border-radius:5px;
			margin:0px 5px 20px 5px;
			box-shadow:0 15px 7px -14px gray;
			position: relative;
			min-height: 50px;
		}
		#cloneReader .ulEntries > li.selected {
			border-left:2px #1155CC solid !important;
			border-radius:0 5px 5px 0; 
			padding:0;
		}
		#cloneReader .ulEntries > li.clean, 
		#cloneReader .ulEntries > li.clean.selected {
			border:0;
			box-shadow:none;
		}
		#cloneReader .ulEntries > li:last-child {
			border: 0 none;
			box-shadow: none;
		}
		#cloneReader .ulEntries > li.entriesHead,
		#cloneReader .ulEntries.list > li.entriesHead {
			border:none;
			border-bottom:1px #CCC solid;
			border-radius: 0 0 0 0;
			font-size: 15px;
			font-weight: bold;
			margin:0 0 10px 0px;
			padding: 10px;
			box-shadow: 0 15px 7px -14px gray;
			min-height: 10px !important;
		}
		#cloneReader .ulEntries > li.readed {}
				#cloneReader .ulEntries li .star i {
					color: #999999;
				}		
				#cloneReader .ulEntries li .star.selected i {
					/*color: #E3CF7A; */
					color: gold;
					text-shadow: 0 0 1px black;	
				}
							
			#cloneReader .ulEntries > li .header {
				margin: 10px;
				position: relative;
			}
				#cloneReader .ulEntries > li .header > a {
					color:#1155CC;
					font-size: 16px;
					font-weight: bold;
					background-repeat: no-repeat;
					padding: 0 0px 0 20px;
					margin: 0;
					display: inline-block;
				}
				#cloneReader .ulEntries > li .header a {
					color:#1155CC;
				}
				#cloneReader .ulEntries > li.readed .header a {
					color: #333;
				}
				#cloneReader .ulEntries > li.selected .header a {
					color:#1155CC;
				}
				#cloneReader .ulEntries > li .header div {
					color: gray;
					font-size:small;
				}
					#cloneReader .ulEntries > li .header div a {
						font-weight:normal;
						cursor:pointer;
					}
				#cloneReader .ulEntries > li .header .entryDate {
					color: gray;
					float:right;
					font-size:small;
					margin-right: 5px;
				}
				#cloneReader .ulEntries > li .header .star {
					float: right;
					cursor:pointer;
				}
			#cloneReader .ulEntries > li p {
				margin:0 10px 40px 10px;
				max-width: 100%;
				overflow: auto;
				position: relative;	
				font-size: 100%;
			}
				#cloneReader .ulEntries > li p * {
					position: relative;
					margin: 0; 
					padding: 0;
					border: 0 none;
					font-size: 100%;
					background: transparent;
				}
				#cloneReader .ulEntries > li p img {
					max-width:100%;
					height:auto;
				}
				#cloneReader .ulEntries > li p a {
					text-decoration: underline;
					color: #1155CC;
				}
				#cloneReader .ulEntries > li p ul,
				#cloneReader .ulEntries > li p ol,
				#cloneReader .ulEntries > li p li 
				{
					margin:auto;
					padding:0 0 0 40px;
				}
			#cloneReader .ulEntries > li .footer {
				min-height: 1px;
				width:100%;
				display:block;
				color: #999999;
				border-bottom: 0;
				border-left: 0;
				border-right: 0;
				border-radius: 0 0 5px 5px;
				position:absolute;
				left:0; bottom:0;
				padding:0px;
				margin:0px;
			}
			#cloneReader .ulEntries > li.selected .footer {
				border-radius: 0 0 4px 0px;
			}
				#cloneReader .ulEntries > li .footer label {
					margin: 0 0 0 10px;
					padding:0px;
					display:inline-block;
					cursor: pointer;
				}
				#cloneReader .ulEntries > li .footer .read { }
				#cloneReader .ulEntries > li .footer .read.selected {
					color:#333;
				}
					#cloneReader .ulEntries > li .footer .read span {
						font-size:smaller;
					}
					#cloneReader .ulEntries > li .footer .read.selected i {
						color: #1155CC;
					}
					#cloneReader .ulEntries > li .footer .btnSocial {
						display: inline;
						margin: 0 0 0 10px;						
					}
					#cloneReader .ulEntries > li .footer .btnSocial:hover {
						text-decoration: none;
					}
		#cloneReader .ulEntries > li.noResult {
			border:0;
			box-shadow: none;
			background: transparent;
		}
			#cloneReader .ulEntries > li.noResult .well {
				background: white;
			}
					
		#cloneReader .ulEntries.list > li {
			border-radius: 0 0 0 0;
			box-shadow: none;
			margin: 0;
			padding: 0;
			border: 0;
			border-bottom: 1px solid #CCCCCC;
			min-height:40px !important;
			font-size:small;
		}
		#cloneReader .ulEntries.list > li.entriesHead {
			border-bottom: 1px solid #CCCCCC;
			box-shadow: none;
			margin: 0;
		}		
		#cloneReader .ulEntries.list > li:last-child {
			border: 0 none;
			box-shadow: none;
			margin: 10px 5px 30px;
		}
		#cloneReader .ulEntries.list > li.expanded {
			display:block;
		}
			#cloneReader .ulEntries.list > li .title {
				height: 40px;
				line-height: 40px;
			}
			#cloneReader .ulEntries.list > li .title * {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				height: 40px;
				line-height: 40px;
				margin: 0 5px;
				float: left;
			}		
			#cloneReader .ulEntries.list > li.expanded .title,
			#cloneReader .ulEntries.list > li.readed .title {
				background: #eee;
			}
				#cloneReader .ulEntries.list > li .title .feedName {
					width: 150px;
					cursor: pointer;
					color: gray;
				}
				#cloneReader .ulEntries.list > li .title .entryContent {
					color: gray;
					left: 190px;
					position: absolute;
					right: 128px;
					text-align: left;
					cursor: pointer;
				}
					#cloneReader .ulEntries.list > li .title .entryContent h2 {
						color: #333;
						font-weight: bold;
						display: inline;
						font-size: small;
					}
					#cloneReader .ulEntries.list > li.readed .title	.entryContent h2 {
						font-weight: normal;
					}
				#cloneReader .ulEntries.list > li .title .entryDate {
					float: right;
					margin: 0 10px 0 0;
   					color: gray;
   					font-size:small;
				}
				#cloneReader .ulEntries.list > li .footer {
					border-radius: 0;
				}


	#cloneReader ul.ulFilters {
		background:white;
		width: 240px;
		position:fixed;
		left:0; top:111px; 
		overflow:auto;
		list-style: none;
		margin: 0px;
		padding:0px;
		box-shadow: 2px 0 5px #CCC;
	}
		#cloneReader ul.ulFilters li {
			position: relative;
			margin: 0;
		}
			#cloneReader ul.ulFilters li div {}
			#cloneReader ul.ulFilters li div:hover {
				background-color:#EEE;
			}			
				#cloneReader ul.ulFilters li div a, 
				#cloneReader ul.ulFilters li div span {
					line-height:30px;
					height:30px;
				}
				#cloneReader ul.ulFilters li div .icon {
					background-position: center left;
					background-repeat: no-repeat;
					left: 5px;
					position: absolute;
					top: 0px;
					width: 20px;
					text-align: center;	
				}
				#cloneReader ul.ulFilters li div .icon.arrow {
					margin: 0 5px 0 0;
					cursor: pointer;
					color: #666666;
				}			
				#cloneReader ul.ulFilters li div a {
					color: #333333;
					cursor: pointer;
					display: block;
					margin:0 55px 0 25px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					font-weight: bold;
					font-size:small;
				}
				#cloneReader ul.ulFilters li.empty > div > a {
					color:gray;
					font-weight: normal;
				}
				#cloneReader ul.ulFilters li.selected > div > a {
					color:#d14836;
				}
		#cloneReader ul.ulFilters li.expand {
		}
			#cloneReader ul.ulFilters li .count {
				font-size: smaller;
				cursor:default;
				color:gray;
				position:absolute;
				top:0; right:10px;
			}
			#cloneReader ul.ulFilters li ul {
				padding:0;
				list-style:none;
				margin-left: 0;
			}
				#cloneReader ul.ulFilters li ul  li {
				}
					#cloneReader ul.ulFilters li ul  li .icon {
						left:25px;
					} 
					#cloneReader ul.ulFilters li ul  li a {
						margin-left:45px;
					}
						#cloneReader ul.ulFilters li ul li ul li .icon {
						left:45px;
					} 
					#cloneReader ul.ulFilters li ul li ul li a {
						margin-left:65px;
					}
			#cloneReader ul.ulFilters li a:hover {
				text-decoration: none;
			}

.tooltip {
	font-size: small;
}


@media (max-width: 767px) {
	#header .mainToolbar li {
		padding-left:15px;
	}
	#cloneReader {
		margin-top:50px;
	}	
	#cloneReader nav .expand {
	}
		#cloneReader nav .expand i {
			color:#CCCCCC;
		}
		#cloneReader ul.ulFilters {
			width: 100%;
			left:0;
		}
	#cloneReader ul.ulFilters li {
		border-top:1px #ccc solid;
	}
		#cloneReader ul.ulFilters li div .icon {
		    background-position: center center;
			width: 50px;
			height:50px;
			margin:0;
		}
		#cloneReader ul.ulFilters li div a, 
		#cloneReader ul.ulFilters li div span {
			font-size: large;
			font-weight: normal;
			height: 50px;
			line-height: 50px;		
		}
		
		#cloneReader ul.ulFilters li div .icon {
			left: 0px;
		}
			#cloneReader ul.ulFilters li ul li .icon {
				left:15px;
			}
				#cloneReader ul.ulFilters li ul li ul li .icon {
					left:30px;
				}			
		#cloneReader ul.ulFilters li div a {
			margin-left:50px;
		}
			#cloneReader ul.ulFilters li ul li div a {
				margin-left:65px;
			}
				#cloneReader ul.ulFilters li ul li ul li div a {
					margin-left:80px;
				}				
		#cloneReader ul.ulEntries {
    	    border: 0px solid #808080;	
		    position: relative;
		    top: 0;
		    left: 0;
		    width: auto;
		    height: auto !important;
		    display:none;
		    margin:0 !important;
		}
		#cloneReader ul.ulFilters {
			position: absolute;
			top:0px;
			left:-100%;
			width: 100%;
			z-index: 999;
			background: white;
			display:none;
			/*height: auto !important;*/
			overflow:auto;
			
    		border: 1px solid #CCCCCC;
    		box-shadow: 0 0 5px #808080;
    					
		}
		#cloneReader .ulEntries > li .header > a  {
			margin:0 20px 0 0;
		}
		#cloneReader .ulEntries > li .header .entryDate {
			float:none;
			display: block;
		}
		#cloneReader .ulEntries > li .header .star {
			float: none;
			position: absolute;
			right: 0;
			top: 0;			
		}
		#cloneReader .ulEntries > li > p {
			max-height: 150px;
			overflow: hidden;
		}
		#cloneReader .ulEntries > li .btnViewAll {
			display: block;
			background: #fff;
			position: absolute;
			bottom: 30px;
			right: 5px;			
		}
		#cloneReader .popupForm {
			left: 5px !important;
			padding: 50px 10px;
			right: 5px !important;
			width: auto;
		}
}


@media (min-width: 768px) {
	::-webkit-scrollbar {
	    width: 8px;
	}
	::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	    -webkit-border-radius: 10px;
	    border-radius: 10px;
	}
	::-webkit-scrollbar-thumb {
	    -webkit-border-radius: 10px;
	    border-radius: 10px;
	    background: #c1c1c1; 
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	}
	::-webkit-scrollbar-thumb:window-inactive {
		background: transparent; 
	}
}
