#cloneReader {
	position:relative;
}
	#cloneReader .btn-toolbar {
		background: #EEEEEE;
		border-bottom: 1px solid #DDDDDD;
		margin: 0;
		padding: 3px 8px 3px 3px;
		text-align: right;
	}
		#cloneReader .btn-toolbar i {
			color: #555;
		}
		#cloneReader .btn-toolbar .dropdown-menu {
			text-align: left;
		}
			#cloneReader .btn-toolbar .dropdown-menu li {
				cursor: pointer;
			}
			#cloneReader .btn-toolbar .dropdown-menu li.divider {
				cursor: default;
			}
		#cloneReader .btn-toolbar .feedSettings a,
		#cloneReader .btn-toolbar .filterSort a,
		#cloneReader .btn-toolbar .filterUnread a {
			font-size: small;
		}
		#cloneReader .btn-toolbar .expand,
		#cloneReader .btn-toolbar .tooglePageHeader {
			float: left;
		}	


	#cloneReader .ulEntries {
		display:block;
		border:0px gray solid;
		list-style: none;
		width: auto;
		height:500px;
		overflow: auto;
		margin:0 0 0 240px;
		background:white;
		position: relative;
	}
		#cloneReader .ulEntries > li {
			padding:0px;
			border:1px #CCC solid;
			border-radius:5px;
			margin:10px 5px 30px 5px;
			box-shadow:0 15px 7px -14px gray;
			position: relative;
			min-height: 50px;
		}
		#cloneReader .ulEntries > li.selected {
			border-left:1px #1155CC solid !important;
			border-radius:0 5px 5px 0; 
		}
		#cloneReader .ulEntries > li.clean, 
		#cloneReader .ulEntries > li.clean.selected {
			border:0;
			box-shadow:none;
		}
		#cloneReader .ulEntries > li:last-child {
			border: 0 none;
			box-shadow: none;
		}
		#cloneReader .ulEntries > li.entriesHead,
		#cloneReader .ulEntries.list > li.entriesHead {
			border:none;
			border-bottom:1px #CCC solid;
			border-radius: 0 0 0 0;
			font-size: 15px;
			font-weight: bold;
			margin:0 0 10px 0px;
			padding: 10px;
			box-shadow: 0 15px 7px -14px gray;
			min-height: 10px !important;
		}
		#cloneReader .ulEntries > li.readed {}
				#cloneReader .ulEntries li .star i {
					color: #999999;
				}		
				#cloneReader .ulEntries li .star.selected i {
					/*color: #E3CF7A; */
					color: gold;
					text-shadow: 0 0 1px black;	
				}
							
			#cloneReader .ulEntries > li .header {
				margin: 10px;
				position: relative;
			}
				#cloneReader .ulEntries > li .header > a {
					color:#1155CC;
					font-size: 16px;
					font-weight: bold;
					background-repeat: no-repeat;
					padding: 0 0px 0 20px;
					margin: 0;
					display: inline-block;
				}
				#cloneReader .ulEntries > li .header a {
					color:#1155CC;
				}
				#cloneReader .ulEntries > li.readed .header a {
					color: #333;
				}
				#cloneReader .ulEntries > li.selected .header a {
					color:#1155CC;
				}
				#cloneReader .ulEntries > li .header div {
					color: gray;
					font-size:12px;
				}
					#cloneReader .ulEntries > li .header div a {
						font-size:12px;
						font-weight:normal;
						cursor:pointer;
					}
				#cloneReader .ulEntries > li .header .entryDate {
					color: gray;
					float:right;
					font-size:small;
					margin-right: 5px;
				}
				#cloneReader .ulEntries > li .header .star {
					float: right;
				}
			#cloneReader .ulEntries > li p {
				margin:0 10px 40px 10px;
				max-width: 100%;
				overflow: auto;
				position: relative;	
			}
				#cloneReader .ulEntries > li p * {
					position: relative;
					margin: 0; 
					padding: 0;
					border: 0 none;
					font-size: small;
					background: transparent;
				}
				#cloneReader .ulEntries > li p img {
					max-width:100%;
				}
				#cloneReader .ulEntries > li p a {
					text-decoration: underline;
					color: #1155CC;
				}
				#cloneReader .ulEntries > li p ul,
				#cloneReader .ulEntries > li p ol,
				#cloneReader .ulEntries > li p li 
				{
					margin:auto;
					padding:0 0 0 40px;
				}
			#cloneReader .ulEntries > li .footer {
				min-height: 1px;
				width:100%;
				display:block;
				color: #999999;
				border-bottom: 0;
				border-left: 0;
				border-right: 0;
				border-radius: 0 0 5px 5px;
				position:absolute;
				left:0; bottom:0;
				padding:0px;
			}
			#cloneReader .ulEntries > li.selected .footer {
				border-radius: 0 0 4px 0px;
			}
				#cloneReader .ulEntries > li .footer label {
					margin: 0 0 0 10px;
				}
				#cloneReader .ulEntries > li .footer .read { }
				#cloneReader .ulEntries > li .footer .read.selected {
					color:#333;
				}
					#cloneReader .ulEntries > li .footer .read span {
						font-size:smaller;
					}
					#cloneReader .ulEntries > li .footer .read.selected i {
						color: #1155CC;
					}
					
		#cloneReader .ulEntries.list > li {
			border-radius: 0 0 0 0;
			box-shadow: none;
			margin: 0;
			padding: 0;
			border: 0;
			border-bottom: 1px solid #CCCCCC;
			min-height:40px !important;
			font-size:small;
		}
		#cloneReader .ulEntries.list > li.entriesHead {
			border-bottom: 1px solid #CCCCCC;
			box-shadow: none;
			margin: 0;
		}		
		#cloneReader .ulEntries.list > li:last-child {
			border: 0 none;
			box-shadow: none;
			margin: 10px 5px 30px;
		}
		#cloneReader .ulEntries.list > li.expanded {
			display:block;
		}
			#cloneReader .ulEntries.list > li .title {
				height: 40px;
				line-height: 40px;
			}
			#cloneReader .ulEntries.list > li .title * {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				height: 40px;
				line-height: 40px;
				margin: 0 5px;
				float: left;
			}		
			#cloneReader .ulEntries.list > li.expanded .title,
			#cloneReader .ulEntries.list > li.readed .title {
				background: #eee;
			}
				#cloneReader .ulEntries.list > li .title .feedName {
					width: 150px;
					cursor: pointer;
					color: gray;
				}
				#cloneReader .ulEntries.list > li .title .entryContent {
					color: gray;
					left: 190px;
					position: absolute;
					right: 128px;
					text-align: left;
					cursor: pointer;
				}
					#cloneReader .ulEntries.list > li .title .entryContent h2 {
						color: #333;
						font-weight: bold;
						display: inline;
						font-size: small;
					}
					#cloneReader .ulEntries.list > li.readed .title	.entryContent h2 {
						font-weight: normal;
					}
				#cloneReader .ulEntries.list > li .title .entryDate {
					float: right;
					margin: 0 10px 0 0;
   					color: gray;
   					font-size:small;
				}
				#cloneReader .ulEntries.list > li .footer {
					border-radius: 0;
				}


	#cloneReader ul.ulFilters {
		width: 240px;
		position:absolute;
		left:0; top:44px;
		overflow:auto;
		list-style: none;
		margin: 0px;
	}
		#cloneReader ul.ulFilters li {
			position: relative;
			margin: 0;
		}
			#cloneReader ul.ulFilters li div {}
			#cloneReader ul.ulFilters li div:hover {
				background-color:#EEE;
			}			
				#cloneReader ul.ulFilters li div a, 
				#cloneReader ul.ulFilters li div span {
					line-height:30px;
					height:30px;
					font-size:small;
				}
				#cloneReader ul.ulFilters li div .icon {
					background-position: center left;
					background-repeat: no-repeat;
					font-size: 10px;
					left: 5px;
					position: absolute;
					top: 0px;
					width: 20px;
					text-align: center;	
				}
				#cloneReader ul.ulFilters li div .icon.arrow {
					margin: 0 5px 0 0;
					cursor: pointer;
				}			
				#cloneReader ul.ulFilters li div a {
					color: #333333;
					cursor: pointer;
					display: block;
					margin:0 55px 0 25px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					font-weight: bold;
				}
				#cloneReader ul.ulFilters li.empty > div > a {
					color:gray;
					font-weight: normal;
				}
				#cloneReader ul.ulFilters li.selected > div > a {
					color:#d14836;
				}
		#cloneReader ul.ulFilters li.expand {
		}
			#cloneReader ul.ulFilters li .count {
				font-size: smaller;
				cursor:default;
				color:gray;
				position:absolute;
				top:0; right:10px;
			}
			#cloneReader ul.ulFilters li ul {
				padding:0;
				list-style:none;
				margin-left: 0;
			}
				#cloneReader ul.ulFilters li ul  li {
				}
					#cloneReader ul.ulFilters li ul  li .icon {
						left:25px;
					} 
					#cloneReader ul.ulFilters li ul  li a {
						margin-left:45px;
					}
						#cloneReader ul.ulFilters li ul li ul li .icon {
						left:45px;
					} 
					#cloneReader ul.ulFilters li ul li ul li a {
						margin-left:65px;
					}
			#cloneReader ul.ulFilters li a:hover {
				text-decoration: none;
			}






.nicescroll-rails div {
	cursor: pointer; /* FIXME: mover esto de aca !*/
}


.tooltip {
	font-size: small;
}
