#header div .navbar-brand {
	margin: 5px;
	padding: 0;
	box-shadow: 1px 1px 5px #C1C1C1;
	border-radius: 5px;
	overflow: hidden;
	height:auto;
}
	#header .logo  {
		cursor: pointer;
	}
	
.mainToolbar .caret {
	border-bottom-color: #333333;
	border-top-color: #333333;
}	
	.mainToolbar .navbar-btn {
		margin-bottom: 1px;
	}

@media (min-width: 768px) {
	#header .container.fullSize {
		width:100%;
		padding:0;
	}
}
			
#cloneReader {
	position:relative;
	overflow:hidden;
	width:100%;
	height:calc(100% - 50px);
	position:absolute;
	left:0;
}


#frmFeedEdit.crForm fieldset .fieldUpload a.thumbnail {
	width:26px;
	height:26px;
}
	#frmFeedEdit.crForm fieldset .fieldUpload a.thumbnail i {
		font-size: 10px;
	}
	#frmFeedEdit.crForm fieldset .fieldUpload a.thumbnail img {
		width:16px;
		height:16px;
		vertical-align:inherit;
	}

#cloneReader .popupForm {
	padding: 5px 10px;
	width:300px;
}
	#cloneReader nav {
		z-index: 1;
		margin:-2px 0 0 0;
		box-shadow: 0 0px 7px #666;
		border-radius:0;
	}
		#cloneReader .nav > li {
			margin-left:5px;
		}
		#cloneReader .nav > li:last-child {
			margin-right:5px;
		}
		#cloneReader nav i {
			color: #555;
		}
		#cloneReader nav .dropdown-menu {
			text-align: left;
		}
			#cloneReader nav .dropdown-menu li {
				cursor: pointer;
			}
			#cloneReader nav .dropdown-menu li.divider {
				cursor: default;
			}
		#cloneReader nav .feedSettings a,
		#cloneReader nav .filterSort a,
		#cloneReader nav .filterUnread a {
		}
		#cloneReader nav .expand,
		#cloneReader nav .tooglePageHeader {
		}	
		#cloneReader .navbar-collapse {
			max-height:none;
		}		
			
@media (min-width: 768px) {
	#cloneReader nav ul li button .btnLabel {
		display:none;
	}
		#cloneReader .nav li button, 
		#cloneReader .nav li ul li a {
			text-transform: lowercase;
		}	
}

	#cloneReader .ulEntries {
		display:block;
		list-style: none;
		width: auto;
		min-width:200px;
		height:calc(100% - 50px);
		right:0; left: 240px;
		top:50px;
		padding:0;
		position: absolute;
		overflow-x:auto;
		background:#E5E5E5;
		-webkit-transition: all 0.25s ease 0s;
		-ms-transition: all 0.25s ease 0s;
		transition: all 0.25s ease 0s;
	}
	#cloneReader .ulEntries.maximixed {
		left:0;
	}
		#cloneReader .ulEntries > li {
			background:white;
			padding:0 0 0 1px;
			border:1px #CCC solid;
			border-radius:5px;
			margin:0px 5px 20px 5px;
			box-shadow:0 2px 4px gray;
			position: relative;
			min-height: 50px;
		}
		#cloneReader .ulEntries > li.selected {
			border-left:2px #1155CC solid !important;
			border-radius:0 5px 5px 0; 
			padding:0;
		}
		#cloneReader .ulEntries > li:last-child {
			border: 0 none;
			box-shadow: none;
		}
		#cloneReader .ulEntries > li.entriesHead,
		#cloneReader .ulEntries.list > li.entriesHead {
			border:none;
			border-bottom:1px #CCC solid;
			border-radius: 0 0 0 0;
			font-size: 15px;
			font-weight: bold;
			margin:0 0 10px 0px;
			padding: 10px;
			min-height: 10px !important;
		}
		#cloneReader .ulEntries > li.readed {}
				#cloneReader .ulEntries li .star i {
					color: #999999;
				}		
				#cloneReader .ulEntries li .star.selected i {
					color: gold;
					text-shadow: 0 0 1px black;	
				}
			#cloneReader .ulEntries > li .header {
				margin: 10px;
				position: relative;
			}
				#cloneReader .ulEntries > li .header > a {
					color:#1155CC;
					font-size: larger;
					font-weight: bold;
					line-height: normal;
					background-repeat: no-repeat;
					background-position: left 2px;
					padding: 0 0px 0 20px;
					margin: 0;
					display: inline-block;
				}
				#cloneReader .ulEntries > li .header a {
					color:#1155CC;
				}
				#cloneReader .ulEntries > li.readed .header a {
					color: #333;
				}
				#cloneReader .ulEntries > li.selected .header a {
					color:#1155CC;
				}
				#cloneReader .ulEntries > li .header div {
					color: gray;
					font-size:small;
				}
					#cloneReader .ulEntries > li .header div a {
						font-weight:normal;
						cursor:pointer;
					}
				#cloneReader .ulEntries > li .header .entryDate {
					color: gray;
					float:right;
					font-size:small;
					margin-right: 5px;
				}
				#cloneReader .ulEntries > li .header .star {
					float: right;
					cursor:pointer;
				}
			#cloneReader .ulEntries > li > p,
			#cloneReader .ulEntries > li > .detail > p {
				margin:0 10px 10px 10px;
				max-width: 100%;
				overflow: auto;
				position: relative;	
				font-size: 100%;
			}
				#cloneReader .ulEntries > li p,
				#cloneReader .ulEntries > li p pre {
					white-space: pre-wrap;
				}
				#cloneReader .ulEntries > li p * {
					font-size: 100%;
					background: transparent;
					text-align: left;
				}
				#cloneReader .ulEntries > li p * {
					white-space: normal;
				}
				#cloneReader .ulEntries > li p *:not(table, thead, tbody, th, tr, td) {
					position: relative;
					margin: 0; 
					padding: 0;
					border: 0 none;
				}
				#cloneReader .ulEntries > li p .table-responsive th,
				#cloneReader .ulEntries > li p .table-responsive td {
					white-space: nowrap;
				}
				#cloneReader .ulEntries > li p code {
					white-space: pre-line;
					margin: 5px 0;
					padding: 10px;
					border:1px #CCC solid;
					display: block;
					background-color: #f9f2f4;
					border-radius: 4px;
					color: #c7254e;
					font-size: 90%;
					overflow-y:hidden;
					overflow-x:auto;
				}
				#cloneReader .ulEntries > li p h1,
				#cloneReader .ulEntries > li p h2,
				#cloneReader .ulEntries > li p h3,
				#cloneReader .ulEntries > li p h4 {
					font-size: 120%;
					font-weight: bolder;
				}
				#cloneReader .ulEntries > li p blockquote {
					padding: 10px 20px;
					margin: 10px 0 20px 0;
					border-left: 5px solid #eee;
					white-space: pre-wrap;
				}
				#cloneReader .ulEntries > li p kbd {
					padding: 2px 4px;
					font-size: 90%;
					color: #fff;
					background-color: #333;
					border-radius: 3px;
					box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
				}
				#cloneReader .ulEntries > li p pre {
					background-color: #f5f5f5;
					border: 1px solid #ccc;
				}
				#cloneReader .ulEntries > li p img {
					max-width:100%;
					height:auto;
					opacity:0;
					-webkit-transition: opacity 2s ease;
					-moz-transition: opacity 2s ease;
					-o-transition: opacity 2s ease;
					transition: opacity 2s ease;
				}
				#cloneReader .ulEntries > li p img.imgLoaded {
					opacity: 1;
				}
				#cloneReader .ulEntries > li p img.imgError {
					max-width:250px;
					opacity:0.7;
					background: #f5f5f5;
					border: 1px #ddd solid;
					border-radius: 4px;
				}

				#cloneReader .ulEntries > li p .imgLarge {
					margin-bottom:10px;
					display: table;
				}
				#cloneReader .ulEntries > li p a {
					text-decoration: underline;
					color: #1155CC;
				}
				#cloneReader .ulEntries > li p ul,
				#cloneReader .ulEntries > li p ol 
				{
					margin:auto;
					padding:0 0 0 40px;
					list-style-type: disc;
				}
			#cloneReader .ulEntries > li .footer {
				min-height: 1px;
				width:100%;
				display:block;
				color: #999999;
				border-bottom: 0;
				border-left: 0;
				border-right: 0;
				border-radius: 0 0 5px 5px;
				padding:10px 0px;
				margin:0px;
				font-size:medium;
			}
			#cloneReader .ulEntries > li.selected .footer {
				border-radius: 0 0 4px 0px;
			}
				#cloneReader .ulEntries > li .footer label {
					margin: 0 0 0 10px;
					padding:0px;
					display:inline-block;
					cursor: pointer;
				}
				#cloneReader .ulEntries > li .footer .read { }
				#cloneReader .ulEntries > li .footer .read.selected {
					color:#333;
				}
					#cloneReader .ulEntries > li .footer .read span {
						font-size:smaller;
						font-weight: normal;
						text-transform: lowercase;
					}
					#cloneReader .ulEntries > li .footer .read.selected i {
						color: #1155CC;
					}
					#cloneReader .ulEntries > li .footer .btnSocial {
						cursor: pointer;
						display: inline;
						margin: 0 0 0 10px;
					}
					#cloneReader .ulEntries > li .footer .btnSocial:hover {
						text-decoration: none;
					}
		#cloneReader .ulEntries > li.noResult {
			border:0;
			box-shadow: none;
			background: transparent;
		}
			#cloneReader .ulEntries > li.noResult .well {
				background: white;
			}
		#cloneReader .ulEntries.list > li {
			border-radius: 0 0 0 0;
			box-shadow: none;
			margin: 0;
			padding: 0;
			border: 0;
			border-bottom: 1px solid #CCCCCC;
			min-height:50px !important;
			font-size:small;
		}
		#cloneReader .ulEntries.list > li.entriesHead {
			border-bottom: 1px solid #CCCCCC;
			box-shadow: none;
			margin: 0;
		}		
		#cloneReader .ulEntries.list > li:last-child {
			border: 0 none;
			box-shadow: none;
			margin: 10px 5px 30px;
		}
		#cloneReader .ulEntries.list > li.expanded {
			display:block;
		}
			#cloneReader .ulEntries.list > li .title {
				height: 50px;
				cursor: pointer;
			}
			#cloneReader .ulEntries.list > li.expanded .title,
			#cloneReader .ulEntries.list > li.readed .title {
				background: #F5F5F5;
			}
				#cloneReader .ulEntries.list > li .title .star {
					float: left;
					margin:5px 0px 0 5px;
					height:25px;
					line-height:25px;
				}			
				#cloneReader .ulEntries.list > li .title .feedName {
					width: auto;
					color: gray;
					float: left;
					margin:5px 0px 0 5px;
					font-size: medium;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					max-width: calc(100% - 150px);
					height:25px;
					line-height:25px;
				}
				#cloneReader .ulEntries.list > li .title .entryDate {
					float: right;
					margin: 5px 10px 0 0;
					color: gray;
					font-size:smaller;
				}
				#cloneReader .ulEntries.list > li .title .entryContent {
					float: none;
					clear:both;
					color: gray;
					text-align: left;
					display:block;
					margin:0 5px 0px 26px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
					#cloneReader .ulEntries.list > li .title .entryContent h2 {
						color: #333;
						font-weight: bold;
						display: inline;
						font-size: small;
						margin: 0 5px 0 0;
					}
					#cloneReader .ulEntries.list > li.readed .title	.entryContent h2 {
						font-weight: normal;
					}
				#cloneReader .ulEntries.list > li .footer {
					border-radius: 0;
				}
				#cloneReader .ulEntries > li.browseTags {
					margin: 0 5px 20px;
					border:0;
					padding:0;
					background: transparent;
					box-shadow: none;
				}
					#cloneReader .ulEntries > li.browseTags div h4 {
						background-position: left 2px;
						background-repeat: no-repeat;
						padding: 0 0 0 20px;
					}
					#cloneReader .ulEntries > li.browseTags div .feedLink {
						margin:10px 0 0 0;
					}
					#cloneReader .ulEntries > li.browseTags div p {
						margin:10px 0 0 0;
						padding: 0;
					}
					#cloneReader .ulEntries > li.browseTags div button {
						display:block;
						margin:10px 0 0 0;
					}
					#cloneReader .ulEntries > li.browseTags .alert {
						margin:15px 0;
					}
						#cloneReader .ulEntries > li.browseTags .alert .label {
							display: inline-block;
							margin-top: 5px;
						}


	#cloneReader ul.ulFilters {
		background:white;
		width: 240px;
		position:absolute;
		left:0; top:50px; 
		overflow:auto;
		list-style: none;
		margin: 0px;
		padding:0px;
		height:calc(100% - 50px);
	}
		#cloneReader ul.ulFilters li {
			position: relative;
			margin: 0;
		}
			#cloneReader ul.ulFilters li div {}
			#cloneReader ul.ulFilters li div:hover {
				background-color:#EEE;
			}			
				#cloneReader ul.ulFilters li div a, 
				#cloneReader ul.ulFilters li div span {
					line-height:30px;
					height:30px;
				}
				#cloneReader ul.ulFilters li div .icon {
					background-position: center left;
					background-repeat: no-repeat;
					left: 5px;
					position: absolute;
					top: 0px;
					width: 20px;
					text-align: center;	
				}
				#cloneReader ul.ulFilters li div .icon.arrow {
					margin: 0 5px 0 0;
					cursor: pointer;
					color: #666666;
				}			
				#cloneReader ul.ulFilters li div a {
					color: #333333;
					cursor: pointer;
					display: block;
					margin:0 55px 0 25px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
/*					font-weight: bold;
					font-size:small;*/
				}
				#cloneReader ul.ulFilters li.empty > div > a {
					color:gray;
					font-weight: normal;
				}
				#cloneReader ul.ulFilters li.selected > div > a {
					color:#d14836;
				}
		#cloneReader ul.ulFilters li.expand {
		}
			#cloneReader ul.ulFilters li .count {
				font-size: smaller;
				cursor:default;
				color:gray;
				position:absolute;
				top:0; right:10px;
			}
			#cloneReader ul.ulFilters li ul {
				padding:0;
				list-style:none;
				margin-left: 0;
				display: none;
			}
			#cloneReader ul.ulFilters li ul.filterVisible { }
				#cloneReader ul.ulFilters li ul  li {
				}
					#cloneReader ul.ulFilters li ul  li .icon {
						left:25px;
					} 
					#cloneReader ul.ulFilters li ul  li a {
						margin-left:45px;
					}
						#cloneReader ul.ulFilters li ul li ul li .icon {
						left:45px;
					} 
					#cloneReader ul.ulFilters li ul li ul li a {
						margin-left:65px;
					}
			#cloneReader ul.ulFilters li a:hover {
				text-decoration: none;
			}

.tooltip {
	font-size: small;
}


@media (max-width: 767px) {
	.navbar-collapse.in {
		overflow-y: inherit;
	}
	#header .navbar-ex1-collapse {
	}	
		#header .mainToolbar .directionNav,
		#header .menuProfile .divider {
			display:none;
		}
		#header .mainToolbar .dropdown-menu {
			position: relative;
			max-height: none !important;
		}
			#header .mainToolbar .dropdown-menu > li > a {
				padding-left: 0px;
				font-size: medium;
			}
		#header .mainToolbar li {
			padding-left: 15px;
		}
	#cloneReader { }
	#cloneReader nav .expand {
	}
		#cloneReader nav .expand i {
			color:#CCCCCC;
		}
		#cloneReader ul.ulFilters {
			width: 100%;
			-webkit-transition: all 0.25s ease 0s;
			-ms-transition: all 0.25s ease 0s;
			transition: all 0.25s ease 0s;
			position: absolute;
			top:0px;
			width: 100%;
			height: calc(100%);
			z-index: 999;
			background: white;
			overflow:auto;
			border: 1px solid #CCCCCC;
			box-shadow: 0 0 5px #808080;
			-webkit-transform: translateX(0%);
			-ms-transform: translateX(0%);
			transform: translateX(0%);			
		}
		#cloneReader ul.ulFilters.outside {
			-webkit-transform: translateX(-100%);
			-ms-transform: translateX(-100%);
			transform: translateX(-100%);			
		}
	#cloneReader ul.ulFilters li {
	}
		#cloneReader ul.ulFilters li > div {
			border-bottom:1px #ccc solid;
		}
		#cloneReader ul.ulFilters li div .icon {
			background-position: center center;
			width: 50px;
			height:50px;
			margin:0;
		}
		#cloneReader ul.ulFilters li div a, 
		#cloneReader ul.ulFilters li div span {
			font-size: larger;
			font-weight: normal;
			height: 50px;
			line-height: 50px;		
		}
		#cloneReader ul.ulFilters li div .icon {
			left: 0px;
		}
			#cloneReader ul.ulFilters li ul li .icon {
				left:15px;
			}
				#cloneReader ul.ulFilters li ul li ul li .icon {
					left:30px;
				}			
		#cloneReader ul.ulFilters li div a {
			margin-left:50px;
		}
			#cloneReader ul.ulFilters li ul li div a {
				margin-left:65px;
			}
				#cloneReader ul.ulFilters li ul li ul li div a {
					margin-left:80px;
				}				
		#cloneReader ul.ulEntries {
			border: 0px solid #808080;	
			position: relative;
			top: 0;
			left: 0;
			width: auto;
			height: calc(100%);
			margin:0 !important;
			overflow:auto;
		}
		#cloneReader .ulEntries > li .header > a  {
			margin:0 20px 0 0;
		}
		#cloneReader .ulEntries > li .header .entryDate {
			float:none;
			display: block;
		}
/*		#cloneReader .ulEntries.list > li .title .feedName {
			max-width: calc(100% - 125px);
		}*/
		#cloneReader .ulEntries > li .header .star {
			float: none;
			position: absolute;
			right: 0;
			top: 0;	
		}
		#cloneReader .popupForm {
			left: 5px !important;
			padding: 50px 10px;
			right: 5px !important;
			width: auto;
		}
}


@media (min-width: 768px) {
	::-webkit-scrollbar {
		width: 8px;
	}
	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}
	::-webkit-scrollbar-thumb {
		-webkit-border-radius: 10px;
		border-radius: 10px;
		background: #c1c1c1; 
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	}
	::-webkit-scrollbar-thumb:window-inactive {
		background: transparent; 
	}
}


.newDetail {}
	.newDetail span {}
	.newDetail p {
		white-space: pre;
	}
