body, body * {
	outline: 0;
}
body.isLoading, body.isLoading * {
	cursor:wait !important;
}

#divWaiting {
	display: block;
	margin: -7px auto 0;
	opacity: 0.95;
	text-align: center;
	padding: 10px;
	width: 200px;
	border-radius:5px;
	border: 1px #8A6D3B solid;
	z-index: 1051;
}
	#divWaiting small  {
		font-size: small;
		margin-left: 10px;
	}


.error404 {
}
	.error404 i {
		color: #9D261D;
		text-shadow: 1px 1px 0 black;
		margin-right: 10px;
	}

.page-header {
	margin:0px;
	border-bottom: 0px solid #eee;
	padding-bottom: 0px;
}
	.page-header h1 {
		font-size:30px;
	}

#header {
	margin:0 auto;
	border:0;
	box-shadow:none;
	border-radius:0;
	border-bottom: 1px #ccc solid;
}
		#header form .btn-default {
			background: #F5F5F5;
		}
	#header .navbar-collapse {
		max-height:none;
	}
	#header ul.menuProfile  li a {
		cursor: pointer;
	}
		#header ul.menuProfile .open .dropdown-menu {
			background-clip: inherit;
		}
		#header ul.menuProfile  li a i { }
		#header ul.menuProfile .dropdown-submenu-left .dropdown-menu {
			margin: 0 0 0 15px;
		}
				#header ul.menuProfile  li a .badge {
					margin:0 0px 0 5px;
				}
@media (min-width: 768px) {
	#header form {
		max-width:450px;
		padding: 0;
	}
		#header form .form-group {
			width:450px;
		}
	#header ul.menuProfile { }
		#header ul.menuProfile > li { }
		#header ul.menuProfile > li:last-child { }
			#header ul.menuProfile > li > a { }
			#header ul.menuProfile > li > a:first-child {
				text-transform: lowercase;
			}
			#header ul.menuProfile .menuItemSettings { }
				#header ul.menuProfile .menuItemSettings > a span {
					display:none;
				}
			#header ul.menuProfile .dropdown-submenu-left {
				position: relative;
			}
				#header ul.menuProfile .dropdown-submenu-left > a {
					padding-left:15px;
				}
					#header ul.menuProfile .dropdown-submenu > a > .fa-caret-right,
					#header ul.menuProfile > .dropdown-submenu > a > .fa-caret-left {
						display: none;
					}
				#header ul.menuProfile .dropdown-submenu-left a:hover { }
				#header ul.menuProfile .dropdown-submenu-left > .dropdown-menu {
					top: 0;
					left: -100%;
					right:auto;
					margin-top: -6px;
					margin-left: -1px;
					-webkit-border-radius: 6px 0px 6px 6px;
					   -moz-border-radius: 6px 0px 6px 6px;
							border-radius: 6px 0px 6px 6px;
				}
				#header ul.menuProfile .dropdown-submenu-left:hover > .dropdown-menu {
				  display: block;
				}
				#header ul.menuProfile .dropdown-submenu-left > a:after,
				#header ul.menuProfile .dropdown-submenu-left:hover > a:after {
					border-color: transparent;
				}
				#header ul.menuProfile .dropdown-menu a i {
					color: #777777;
				}
}

@media (max-width: 767px) {
	#header form {
		border: 0 solid #FF0000;
		box-shadow: none;
	}
	#header form.navbar-form .form-group {
		margin-bottom:0;
	}
	#header ul.menuProfile {
		float:none !important;
	}
		#header ul.menuProfile li {
			border-top: 1px #E7E7E7 solid;
		}
		#header ul.menuProfile > li:first-child {
			border-top: 1px #e7e7e7 solid;
		}
		#header ul.menuProfile a {
			padding-bottom: 10px;
			padding-top: 10px;
			cursor: pointer;
		}
			#header ul.menuProfile .dropdown-submenu > a { }
				#header ul.menuProfile .dropdown-submenu > a > .fa-caret-left {
					display: none;
				}
		#header ul.menuProfile ul a {
			padding-left:45px;
		}
		#header ul.menuProfile ul li ul li a {
			padding-left:60px;
		}
	#header ul.menuProfile .open .dropdown-menu {
		padding:0;
	}
	#header .open .dropdown-menu {
		clear: both;
	}
	#header ul.menuProfile .dropdown-submenu-left .dropdown-menu {
		margin:0;
	}
		#header ul.menuProfile a {
			font-size: larger;
		}
}



.menu {
	position:relative;
	margin:0 0 5px 0;
}
	.menu i {
		color: #555555;
	}
	.menu div {
		margin: 0 auto;
		max-width: 1004px;
		height: auto;
		position:relative;
	}
		.menu div ul.menuPublic {
			list-style: none outside none;
			margin: 0;
			position: relative;
		}
			.menu div ul.menuPublic li {
				float: left;
				border-left:1px white solid;
			}
			.menu div ul.menuPublic li:last-child {
				border-right:1px white solid;
			}
				.menu div ul.menuPublic li a {
					clear: both;
					color: white;
					display: block;
					font-family: arial;
					font-weight: bold;
					line-height: 30px;
					padding: 0 10px;
					text-decoration: none;
					text-shadow: -1px 1px 0 #333333;
				}
				.menu div ul.menuPublic li a:hover {
					background: -moz-linear-gradient(center top , #3176CB, #4397F3) repeat scroll 0 0 transparent;
					background: -webkit-gradient(linear, left top, left bottom,from(#4397F3),to(#3176CB));
				}

#footer {
	background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom,from(#F9F9F9),to(#E3E3E3));
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	height: 25px; line-height:25px;
	margin: 0;
	padding: 0px 10px;
}


.errors {
	background: none repeat scroll 0 0 beige;
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	margin: 10px;
}
	.errors ul {
		margin: 0 0 0 20px;
	}
		.errors ul li {
			color: gray;
			padding: 5px 0 5px 10px;
		}

.crList {
	margin: 0 5px;
}
	.crList form {	}
		.crList form > .btn-group:first-child {
			max-width: 500px;
			width:100%;
		}
		.crList form.hasBtnFilter > .btn-group:first-child {
			width: calc(100% - 41px);
		}
		.crList form.hasBtnOrder > .btn-group:first-child {
			width: calc(100% - 44px);
		}
		.crList form.hasBtnFilter.hasBtnOrder > .btn-group:first-child {
			width: calc(100% - 85px);
		}

		.crList form > .btn-group {
			margin-bottom: 0;
		}
		.crList form  .crFilterList {
			padding: 0;
			min-width: 250px;
			left: auto;
			right: 0;
		}
			.crList form  .crFilterList .form-group {
				display: block;
				margin-bottom: 15px;
			}
			.crList form  .crFilterList .form-group > label,
			.crList form  .crFilterList .form-group > div {
				width:100%;
				display: block;
				text-align: left;
			}
			.crList form  .crFilterList .formButtons {
				padding-bottom: 15px;
			}
	.crList .table-responsive {
		border: 1px solid #ccc;
		box-shadow: 0 0 5px #ccc;
		position:relative;
		border-radius:5px;
		margin: 0 0 10px 0;
	}
	.crList table {
		margin: 0;
	}
		.crList table thead {
			font-weight: bold;
			color: white;
			height:20px;
		}
			.crList table thead tr th { }
				.crList table thead tr th,
				.crList table thead tr th a  {
					color:white;
					text-shadow: 1px 1px 0 #555;
					min-width: 25px;
				}
				.crList table thead tr th.rowCheckbox {
					min-width: 20px;
					width:20px;
				}
			.crList table.table-hover tbody tr {
				cursor: pointer;
			}
				.crList table tbody tr td.rowCheckbox,
				.crList table tbody tr.warning td{
					cursor: default;
				}
				.crList table tbody tr td {
					word-break: break-all;
				}
		.crList table .rowCheckbox input[type=checkbox] {
			margin-left: 0;
		}
	.crList .footer {
		color: #777777;
		font-weight: normal;
	}
	.crList .footer .row {
		margin:0;
	}
	.crList .row > div {
		padding: 0;
	}
		.crList .footer span {
			font-size: small;
		}
			.crList .footer .pagination {
				margin: 0;
				float:right;
			}
				.crList .footer .pagination ul {
					display: inline;
				}
				.crList table thead tr th:first-child {
					border-top-left-radius:5px;
				}
				.crList table thead tr th:last-child {
					border-top-right-radius:5px;
				}
				.crList table tbody tr:last-child td:first-child {
					border-bottom-left-radius:5px;
				}
				.crList table tbody tr:last-child td:last-child {
					border-bottom-right-radius:5px;
				}

@media (max-width: 767px) {
	.crList .footer .pagination {
		margin: 5px 0 0 0;
		float:none;
	}
	.crForm fieldset .fieldUpload .fileupload-progress {
		margin-top:10px;
	}
}

.crForm { }
	.crForm .control-group {
		margin: 10px 5px;
	}
		.crForm .control-label {
			cursor: default;
			font-weight: normal;
		}
		.crForm fieldset .raty {
			display: inline-block;
			border: 0 none;
		}
		.crForm fieldset select[multiple] {
			height: 34px;
		}
			.crForm fieldset select[multiple] option {
				display: none;
			}
		.crForm fieldset .form_datetime input {
			width:auto;
		}
		.crForm fieldset .form_datetime span {
			cursor:pointer;
		}
		.crForm fieldset .fa-times {
			color: #555555;
		}
		.crForm fieldset .fa-th {
			color: #3A87AD;
		}
		.crForm fieldset .groupCheckBox {
			max-height: 300px;
			list-style: none outside none;
			overflow: auto;
			padding: 0;
			height:auto;
			border: 1px solid #CCCCCC;
			border-radius: 4px 4px 4px 4px;
		}
			.crForm fieldset .groupCheckBox li {
				border: none;
				border-bottom: 1px solid #CCCCCC;
				margin: 0;
				padding: 0 0 0 5px;
			}
			.crForm fieldset .groupCheckBox li:last-child {
				border:0;
			}
			.crForm fieldset .fieldUpload .fileupload-btn {
				padding-left:0;
			}
				.crForm fieldset .fieldUpload .fileupload-btn .btn {
					margin-bottom: 5px;
				}
				.crForm fieldset .fieldUpload .fileupload-progress .progress {
					margin-bottom:0px;
				}
				.crForm fieldset .fieldUpload .fileName {
					display:block;
				}
				.crForm fieldset .fieldUpload a.thumbnail {
					background: white;
					width: 115px;
					height: 115px;
					display: block;
					margin: 0 15px 5px 0;
				}
					.crForm fieldset .fieldUpload a.thumbnail img { }
			.crForm fieldset .groupCheckBox li.active {
				background: #D9EDF7;
			}
				.crForm fieldset .groupCheckBox li .checkbox {
					padding-left: 20px;
				}
					.crForm fieldset .groupCheckBox li .checkbox input {
						float: left;
						margin-left: -20px;
					}
		.crForm fieldset.tree ul:first-child {
			height: 300px;
			overflow: auto;
			border: 1px solid #CCCCCC;
			border-radius: 6px;
		}
		.crForm fieldset.tree ul {
			list-style: inside;
			margin: 4px 10px;
			padding: 0 10px;
		}
			.crForm fieldset.tree ul li {
			}
				.crForm fieldset.tree ul li a {
					color: #3176CB;
				}
				.crForm fieldset.tree ul li a.selected {
					font-weight: bold;
				}
			.crForm fieldset .gallery {
				overflow: auto;
				min-height:30px;
			}
				.crForm fieldset .gallery .btnEditPhotos {
					cursor: pointer;
					display: block;
					float: none;
					width: auto;
					margin:0 0 10px 0;
				}
		.crForm fieldset .subform {	}
			.crForm fieldset .subform .table-responsive {
				border: 1px solid #CCCCCC;
				border-radius: 5px;
				box-shadow: 0 0 5px #CCCCCC;
				margin: 0 0 10px;
				position: relative;
				overflow-x: auto;
				overflow-y: hidden;
			}
			.crForm fieldset .subform table {
				margin-bottom: 0;
			}
				.crForm fieldset .subform .btnAdd {
					margin:10px 0 0 0;
				}
				.crForm fieldset .subform table thead { }
					.crForm fieldset .subform table thead tr { }
					.crForm fieldset .subform table thead tr th,
					.crForm fieldset .subform table thead tr th a  {
						color:white;
						text-shadow: 1px 1px 0 #555555;
					}
						.crForm fieldset .subform table thead tr th {
							border-bottom: 1px solid #DDDDDD;
						}
						.crForm fieldset .subform table tbody tr td {
							cursor: pointer;
						}
						.crForm fieldset .subform table tbody tr.warning td {
							cursor: default;
						}
				.crForm fieldset .subform table tbody tr td table {
					border: 1px solid #dddddd;
					border-collapse: collapse;
					border-spacing: 0;
					border-radius: 4px;
					border-collapse: separate;
					margin-bottom: 0;
				}
					.crForm fieldset .subform table tbody tr td table tr td {
						border-top: 1px solid #DDDDDD;
						line-height: 1.42857;
						padding: 8px;
						vertical-align: top;
					}
					.crForm fieldset .subform table tbody tr td table tr:first-child td {
						border-top:none;
					}
		.crForm .gallery a.thumbnail {
			background: white;
			width:150px;
			height:100px;
			display:inline-block;
			margin: 0 15px 20px 0;
		}
	.crForm .formButtons {
		border-radius: 0 0 5px 5px;
		text-align: right;
		margin: 0;
		padding-bottom: 5px;
	}
		.crForm .formButtons button {
			margin-bottom: 5px;
		}

footer {
	background-color: #F5F5F5;
	border-top: 1px solid #E5E5E5;
	margin-top: 70px;
	padding: 30px 0;
	text-align: center;
}
	footer .footer-links {
		margin: 10px 0;
	}
	footer .footer-links li:first-child {
		padding-left: 0;
	}
	footer .footer-links li {
		display: inline;
	}


.crForm .controls .gallery a.thumbnail {
	margin: 10px 10px 0 0;
}

.imgCenter {
	position:relative;
	padding:0;
	text-align: center;
	overflow: hidden;
	-webkit-transition: none;
	transition: none;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
	.imgCenter > img  {
		max-width:none;
		max-height:none;
		margin: 0;
		width: auto;
		height: auto;
		-webkit-transition: opacity 1s ease;
		-moz-transition: opacity 1s ease;
		-o-transition: opacity 1s ease;
		transition: opacity 1s ease;
		opacity:0;
		position: relative;
	}
	.imgCenter > .imageLoading {
		color: #c0c0c0;
		margin: 0;
		position: absolute;
		text-align: center;
		-webkit-transition: opacity 1s ease;
		-moz-transition: opacity 1s ease;
		-o-transition: opacity 1s ease;
		transition: opacity 1s ease;
		display: flex;
		align-items: center;
		border: 0px solid red;
		left: 4px;
		right: 4px;
		top: 4px;
		bottom: 4px;
	}
		.imgCenter > .imageLoading > img {
			margin: 0 auto;
			display: block;
			height: 50px !important;
			max-height: 100%;
			max-width: 50px;
			opacity:1 !important;
			position: relative;
		}
		.imgCenter > .imageLoading.animate > img {
			        animation: imgCenterAnimation 2s infinite;
			-webkit-animation: imgCenterAnimation 2s infinite;
			        animation-timing-function: linear;
			-webkit-animation-timing-function: linear;
		}
		.imgCenter.imgCenterComplete > .imageLoading > img {
			animation: none;
			-webkit-animation: none;
			display: none;
		}
	.imgCenter.imgCenterComplete > img {
		opacity:1;
	}
	.imgCenter.imgCenterComplete > .imageLoading {
		opacity:0;
	}
.imgCenter.imgCenterOutside:after {
	border: 4px solid white;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.imgCenter.imgCenterInside {
	vertical-align:middle;
	height: 100px;
	padding:4px;
	box-shadow:none;
}
	.imgCenter.imgCenterInside > img {
		border-radius:4px;
		max-width:100%;
		max-height:100%;
		margin: 0 auto;
		display: table;
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}


@keyframes imgCenterAnimation {
	0%   { transform: rotateY(0deg); }
	100% { transform: rotateY(359deg);}
}
@-webkit-keyframes imgCenterAnimation {
	0%   { -webkit-transform:rotateY(0deg); }
	100% { -webkit-transform:rotateY(359deg); }
}


.gallery a.thumbnail {
	background: white;
	width:75px;
	height:75px;
	display:inline-block;
	margin: 0  0 5px 0;
}

.ui-datepicker select {
	background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom,from(#F9F9F9),to(#E3E3E3));
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	height: auto;
	padding: 2px 0;
}

table .numeric, table .date, table .datetime, table .text-right {
	text-align: right;
	white-space: nowrap;
	width: 5px;
}
table .dotdotdot {
	white-space: nowrap;
	max-width:250px;
}
	table .dotdotdot div {
		height: 20px;
		line-height: 20px;
		overflow: hidden;
		text-overflow: ellipsis;
	}


.modal {
	overflow: auto;
}
.modal-dialog {
	max-width: 900px;
	width: auto;
}
.modal.crAlert .modal-dialog {
	max-width: 560px;
	width: auto;
}
	.modal.crAlert i.fa-check-circle {
		vertical-align: middle;
		float: none;
		display: inline-block;
	}
@media (max-width: 900px) {
	.modal-dialog {
		width: auto;
		margin: 30px 10px;
	}
}

.modal.modal-gallery {
	width: auto;
}

#fileupload .modal-body {
	max-height: none;
}
	#fileupload .thumbnail {
		width: 150px;
		height:100px;
	}


.table-force-responsive {
	width: 100%;
	margin-bottom: 15px;
	overflow-x: scroll;
	overflow-y: hidden;
	border: 1px solid #dddddd;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-overflow-scrolling: touch;
}

.form-control .select2-choice,
.form-control .select2-choices {
	border: 0 !important;
	border-radius: 4px 3px 3px 4px !important;
	box-shadow: 1px 1px rgba(0, 0, 0, 0.045) inset !important;
	background-image: none !important;
	height: 31px;
	line-height: 31px;
}
.form-control .select2-choices {
	border-radius: 4px 3px 3px 4px !important;
}
.form-control.select2-dropdown-open .select2-choice {
	background: none;
}
.form-control .select2-choice .select2-arrow {
	border-radius: 0 0px 0px 0;
	background:#EEEEEE !important;
	border-left: 1px solid #CCCCCC;
}
	.form-control .select2-choice .select2-arrow b {
		background-position: 0 3px;
	}
.form-control.select2-dropdown-open .select2-choice .select2-arrow {
	background:transparent !important;
	border-left: 0;
}
.form-control.select2-container {
	height: auto !important;
	padding: 0px;
}
.form-control .select2-search-choice {
	background:#EEEEEE !important;
	line-height: 17px !important;
}
.form-control .select2-search-choice-close {
	top:5px;
}
.form-control.select2-container.select2-dropdown-open {
	border-color: #66AFE9;
	border-radius: 4px 4px 0 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.045) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control.select2-container .select2-choice > .select2-chosen {
	left: 8px; right: 42px;
	margin: 0;
	position: absolute;
}

.select2-drop-active {
	border-color: #66AFE9;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.045);
}
.select2-no-results {
	color:#555555;
	padding: 5px;
}
.select2-search-field input {
	height: 28px;
	display: block;
	padding:0 5px !important;
}
.select2-drop.select2-drop-above {
	margin-top: 3px;
}

.userProfile {
	margin-bottom: 10px;
}


.progress-animated .progress-bar,
.progress-animated .bar {
	background: url(../images/progressbar.gif) !important;
}
.notification.alert {
	border-radius:0;
}

.line-clamp {
	position: relative;
	height: 3.6em;
}
.line-clamp:after {
	content: "";
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50%;
	height: 1.2em;
	background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
	border:0px red solid;
}
@supports (-webkit-line-clamp: 3) {
	.line-clamp {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		max-height:3.6em;
		height: auto;
	}
	.line-clamp:after {
		display: none;
	}
}

.cr-page-process ul li .btn {
	margin-bottom:5px;
}
.cr-page-logs-detail .datetime {
	display: block;
}
.cr-page-logs-detail .list-group-item .btn,
.cr-page-logs-detail .list-group-item .datetime,
.cr-page-logs-detail .list-group-item h4,
.cr-page-logs-detail .list-group-item h5 {
	margin: 0 0 10px 0;
}
.cr-page-logs-detail code {
	display: block;
	overflow: auto;
	white-space: pre;
}
.cr-page-logs-detail .panel-footer {
	text-align: right;
}

.servicesMap{
	display: none;
}
.contentMap .gmnoprint img {
	max-width: none;
}
	.contentMap .map {
		min-width: 240px;
		min-height: 450px;
		width: 100%;
		height: 100%;
	}
	.contentMap .clearfix {
		clear: both;
	}
	.contentMap .rowcolor {
		background-color: #CCCCCC;
	}
	.contentMap .padall {
		padding: 10px;
	}
	.contentMap .padbig {
		padding: 20px;
	}
	.contentMap .icon {
		font-size: 23px;
		color: #197BB5;
	}


.btn-social-icon{
	text-align:left;
}
.btn-social-icon :first-child{
	width:100% !important;
}

.raty {
	height:20px;
}

.highlight {
	background: #ff0;
	color: #000;
}
.crLink {
	display: block;
	padding-top: 7px;
	white-space: normal;
	word-wrap: break-word;
}
.popupSimpleForm {
	padding: 5px 10px;
	width:300px;
}
@media (max-width: 767px) {
	.popupSimpleForm {
		left: 5px !important;
		padding: 50px 10px;
		right: 5px !important;
		top: 92px !important;
		width: auto;
	}
}

@media (max-width: 992px) {
	.cr-page-logs-detail small.datetime {
		position: absolute;
		top: 0;
		right: 10px;
	}
}
