body, body * {
	outline: 0;
}
body.isLoading, body.isLoading * {
	cursor:wait !important;
}

#divWaiting {
	display: block;
	margin: -7px auto 0;
	opacity: 0.85;
	text-align: center;
	padding: 10px;
	width: 200px;
	border-radius:5px;	
}
	#divWaiting small  {
		font-size: small;
		margin-left: 10px;
	}


.error404 {
}
	.error404 i {
		color: #9D261D;
		text-shadow: 1px 1px 0 black;	
		margin-right: 10px;
	}

#header {
	margin:0 auto;
	border:0;
	box-shadow:none;
	border-radius:0;
	border-bottom: 1px #ccc solid;
}
	#header .navbar-collapse {
		max-height:none;
	}
	#header ul.menuProfile  li a { }
		#header ul.menuProfile  li a i { }		
		#header ul.menuProfile .dropdown-submenu-left .dropdown-menu {
			margin: 0 0 0 15px;
		}
				#header ul.menuProfile  li a .badge {
					margin:0 0px 0 5px;
				}
			
@media (min-width: 768px) {
	#header .navbar-collapse {
		float:right;
	}
	#header form {
		max-width:350px;
	}	
	#header ul.menuProfile { }
		#header ul.menuProfile .settings span {
			display:none; 
		}
		#header ul.menuProfile > li { }
		#header ul.menuProfile > li:last-child { }
			#header ul.menuProfile > li > a { }
			#header ul.menuProfile > li > a:first-child {
				text-transform: lowercase;
			}								
			#header ul.menuProfile .settings { }
			#header ul.menuProfile .dropdown-submenu-left {
				position: relative;
			}
				#header ul.menuProfile .dropdown-submenu-left a { }
				#header ul.menuProfile .dropdown-submenu-left a:hover { }
				#header ul.menuProfile .dropdown-submenu-left > .dropdown-menu {
					top: 0;
					left: -100%;
					margin-top: -6px;
					margin-left: -1px;
					-webkit-border-radius: 6px 0px 6px 6px;
					   -moz-border-radius: 6px 0px 6px 6px;
							border-radius: 6px 0px 6px 6px;
				}
				#header ul.menuProfile .dropdown-submenu-left:hover > .dropdown-menu {
				  display: block;
				}
				#header ul.menuProfile .dropdown-submenu-left > a:before {
					display: block;
					content: "  ";
					float: left;
					width: 0;
					height: 0;
					border-color: transparent;
					border-style: solid;
					border-width: 5px 5px 5px 0px;
					border-right-color: #CCCCCC;
					margin-top: 5px;
					margin-left: -10px;
				}
				#header ul.menuProfile .dropdown-submenu-left > a:after,
				#header ul.menuProfile .dropdown-submenu-left:hover > a:after {
					border-color: transparent;
				}
}

@media (max-width: 767px) {
	#header form {
		border-top: 0 solid #FF0000;
		margin-top: 4px;
	}		
	#header ul.menuProfile {
		float:none !important;
	}
	#header ul.menuProfile a {
		padding-bottom: 10px;
		padding-top: 10px;		
		cursor: pointer;
	}
	#header ul.menuProfile ul a {
		padding-left:45px;
	}
	#header ul.menuProfile ul li ul li a {
		padding-left:60px;
	}	
	#header ul.menuProfile .open .dropdown-menu {
		padding:0;
	}
	#header .open .dropdown-menu {
		clear: both;
	}
	#header ul.menuProfile .dropdown-submenu-left .dropdown-menu {
		margin:0;
	}
		#header ul.menuProfile .open .dropdown-menu li {
			cursor:pointer;
			border-top: 1px #E7E7E7 solid;
		}
		#header ul.menuProfile a {
			font-size: larger;
		}
}



.menu {
	position:relative;
	margin:0 0 5px 0;
}
	.menu i {
		color: #555555;
	}
	.menu div {
		margin: 0 auto;
		max-width: 1004px;
		height: 32px;
		position:relative;
	}
		.menu div ul.menuPublic {
			list-style: none outside none;
			margin: 0;
			position: relative;
		}
			.menu div ul.menuPublic li {
				float: left;
				border-left:1px white solid;
			}
			.menu div ul.menuPublic li:last-child {
				border-right:1px white solid;
			}
				.menu div ul.menuPublic li a {
					clear: both;
					color: white;
					display: block;
					font-family: arial;
					font-weight: bold;
					line-height: 30px;
					padding: 0 10px;
					text-decoration: none;
					text-shadow: -1px 1px 0 #333333;
				}
				.menu div ul.menuPublic li a:hover {
					background: -moz-linear-gradient(center top , #3176CB, #4397F3) repeat scroll 0 0 transparent;
					background: -webkit-gradient(linear, left top, left bottom,from(#4397F3),to(#3176CB));
				}
						
.content {
	margin: 0 auto;
	min-width: 240px;
}			
	.content > h1{
		 font-size:large;
		 padding:5px;
		 margin: 0;
		 font-weight: normal;
	}			
					
#footer {
	background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom,from(#F9F9F9),to(#E3E3E3)); 
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	height: 25px; line-height:25px;
	margin: 0;
	padding: 0px 10px;
}


.errors {
	background: none repeat scroll 0 0 beige;
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	margin: 10px;	
}	
	.errors ul {
		margin: 0 0 0 20px;
	}
		.errors ul li {
			color: gray;
			padding: 5px 0 5px 10px;
		}

.btn-facebook{
	color:#ffffff;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color:#506fb0;
	background-image:-moz-linear-gradient(top, #5f7ec1, #3b5998);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#5f7ec1), to(#3b5998));
	background-image:-webkit-linear-gradient(top, #5f7ec1, #3b5998);
	background-image:-o-linear-gradient(top, #5f7ec1, #3b5998);
	background-image:linear-gradient(to bottom, #5f7ec1, #3b5998);
	background-repeat:repeat-x;
	border-color:#3b5998 #3b5998 #263961;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.btn-facebook.disabled,.btn-facebook[disabled]{
	color:#ffffff;
	background-color:#3b5998;
}
.btn-google{
	color:#ffffff;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color:#d55b57;
	background-image:-moz-linear-gradient(top, #dc726f, #cc3732);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#dc726f), to(#cc3732));
	background-image:-webkit-linear-gradient(top, #dc726f, #cc3732);
	background-image:-o-linear-gradient(top, #dc726f, #cc3732);
	background-image:linear-gradient(to bottom, #dc726f, #cc3732);
	background-repeat:repeat-x;
	border-color:#cc3732 #cc3732 #8f2623;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-google:hover,.btn-google:focus,.btn-google:active,.btn-google.active,.btn-google.disabled,.btn-google[disabled]{
	color:#ffffff;
	background-color:#cc3732;
}


.crList {
	margin: 0 5px;
}
	.crList form {	}
		.crList form > .btn-group:first-child {
			max-width: 500px;
			width:100%;
		}
		.crList form.hasBtnFilter > .btn-group:first-child {
			width: calc(100% - 41px);
		}
		.crList form.hasBtnOrder > .btn-group:first-child {
			width: calc(100% - 44px);
		}
		.crList form.hasBtnFilter.hasBtnOrder > .btn-group:first-child {
			width: calc(100% - 85px);
		}
		
		.crList form > .btn-group {
			margin-bottom: 0;
		}
		.crList form  .crFilterList {
			padding: 0;
			min-width: 250px;
			left: auto;
			right: 0;
		}
			.crList form  .crFilterList .form-group {
				display: block;
				margin-bottom: 15px;			
			}
			.crList form  .crFilterList .form-group > label,
			.crList form  .crFilterList .form-group > div {
				width:100%;
				display: block;
				text-align: left;
			}
	.crList .table-responsive {
		border: 1px solid #ccc;
		box-shadow: 0 0 5px #ccc;
		position:relative;
		border-radius:5px;
		margin: 0 0 10px 0;
	}
	.crList table {
		margin: 0;
	}
		.crList table thead {
			font-weight: bold;
			color: white;
			height:20px;
		}
			.crList table thead tr th { }
				.crList table thead tr th, 
				.crList table thead tr th a  {
					color:white;
					text-shadow: 1px 1px 0 #555;
					min-width: 25px;
				}
				.crList table thead tr th.checkbox {
					min-width: 20px;
					width:20px;
				}
			.crList table.table-hover tbody tr {
				cursor: pointer;
			}
				.crList table tbody tr td.checkbox,
				.crList table tbody tr.warning td{
					cursor: default;
				} 
				.crList table tbody tr td {
					word-break: break-all;
				}
		.crList table .checkbox input[type=checkbox] {
			margin-left: 0;
		}				
	.crList .footer {
		color: #777777;
		font-weight: normal;
	}
	.crList .footer .row {
		margin:0;
	}
	.crList .row > div {
		padding: 0;
	}	
		.crList .footer span {
			font-size: small;
		}
			.crList .footer .pagination {
				margin: 0;
				float:right;
			}
				.crList .footer .pagination ul {
					display: inline;
				}
				.crList table thead tr th:first-child {
					border-top-left-radius:5px;
				}
				.crList table thead tr th:last-child {
					border-top-right-radius:5px;
				}
				.crList table tbody tr:last-child td:first-child {
					border-bottom-left-radius:5px;
				}
				.crList table tbody tr:last-child td:last-child {
					border-bottom-right-radius:5px;
				}
				
@media (max-width: 767px) {	
	.crList .footer .pagination {
		margin: 5px 0 0 0;
		float:none;
	}						
}

.crForm { }
	.crForm .control-group {
		margin: 10px 5px;
	}
		.crForm .control-label {
			cursor: default;
			font-weight: normal;
		}
		.crForm fieldset .raty {
			display: inline-block;
			border: 0 none;
		}			
		.crForm fieldset .form_datetime input {
			width:auto;
		}
		.crForm fieldset .form_datetime span {
			cursor:pointer;
		}	
		.crForm fieldset .icon-remove {
			color: #555555;
		}
		.crForm fieldset .icon-th {
			color: #3A87AD;
		}
		.crForm fieldset .groupCheckBox {
			max-height: 300px;
			list-style: none outside none;
			overflow: auto;
			padding: 0;
			height:auto;
			border: 1px solid #CCCCCC;
			border-radius: 4px 4px 4px 4px;			
		}
			.crForm fieldset .groupCheckBox li {
				border: none;
				border-bottom: 1px solid #CCCCCC;
				margin: 0;
				padding: 0 0 0 5px;	
			}
			.crForm fieldset .groupCheckBox li:last-child {
				border:0;
			}
			.crForm fieldset .groupCheckBox li.active {
				background: #D9EDF7;
			}
				.crForm fieldset .groupCheckBox li .checkbox {
					padding-left: 20px;
				}
					.crForm fieldset .groupCheckBox li .checkbox input {
						float: left;
						margin-left: -20px;
					}
		.crForm fieldset.tree ul:first-child {
			height: 300px;
			overflow: auto;
			border: 1px solid #CCCCCC;
			border-radius: 6px;
		}		
		.crForm fieldset.tree ul {
			list-style: inside;
			margin: 4px 10px;
			padding: 0 10px;
		}				
			.crForm fieldset.tree ul li {
			}
				.crForm fieldset.tree ul li a {
					color: #3176CB;
				}
				.crForm fieldset.tree ul li a.selected {
					font-weight: bold;	
				}
			.crForm fieldset .gallery {
				overflow: auto;
				min-height:30px;
			}
				.crForm fieldset .gallery .btnEditPhotos {
					cursor: pointer;
					display: block;
					float: none;
					width: auto;
					margin:0 0 10px 0;
				}
		.crForm fieldset .subform {	}
			.crForm fieldset .subform .table-responsive {
				border: 1px solid #CCCCCC;
				border-radius: 5px;
				box-shadow: 0 0 5px #CCCCCC;
				margin: 0 0 10px;
				position: relative;	
				overflow-x: auto;
				overflow-y: hidden;
			}
			.crForm fieldset .subform table {
				margin-bottom: 0; 
			}
				.crForm fieldset .subform .btnAdd {
					margin:10px 0 0 0;
				}
				.crForm fieldset .subform table thead { }
					.crForm fieldset .subform table thead tr { }
					.crForm fieldset .subform table thead tr th, 
					.crForm fieldset .subform table thead tr th a  {
						color:white;
						text-shadow: 1px 1px 0 #555555;
					}
						.crForm fieldset .subform table thead tr th {
							border-bottom: 1px solid #DDDDDD;
						}
						.crForm fieldset .subform table tbody tr td {
							cursor: pointer;
						}
						.crForm fieldset .subform table tbody tr.success td,
						.crForm fieldset .subform table tbody tr.warning td {
							cursor: default;
						}
				.crForm fieldset .subform table tbody tr td table { 
					border: 1px solid #dddddd;
					border-collapse: collapse;
					border-spacing: 0;
					border-radius: 4px;
					border-collapse: separate;
					margin-bottom: 0;
				}
					.crForm fieldset .subform table tbody tr td table tr td {
						border-top: 1px solid #DDDDDD;
						line-height: 1.42857;
						padding: 8px;
						vertical-align: top;
					}
					.crForm fieldset .subform table tbody tr td table tr:first-child td {
						border-top:none;
					}
		.crForm .gallery a.thumbnail {
			background: white;
			width:115px;
			height:115px;
			display:inline-block;
			margin: 0 15px 20px 0;
		}
	.crForm .form-actions {
		border-radius: 0 0 5px 5px;
		text-align: right;
		margin: 0;
	}
	
footer {
	background-color: #F5F5F5;
	border-top: 1px solid #E5E5E5;
	margin-top: 70px;
	padding: 30px 0;
	text-align: center;
}
	footer .footer-links {
		margin: 10px 0;
	}
	footer .footer-links li:first-child {
		padding-left: 0;
	}
	footer .footer-links li {
		display: inline;
	}


.crForm .controls .gallery a.thumbnail {
	margin: 10px 10px 0 0;
}


.imgCenterFrame {
	width: 100%;
	height: 100%;
	position:relative;
}

.gallery a.thumbnail {
	background: white;
	width:75px;
	height:75px;
	display:inline-block;
}
	.gallery a  > img,
	.gallery a  > .imgCenterFrame {
		display:none;
	}
		
		
.thumbnail i {
	color: #333333;
	left: 50%;
	line-height: 20px;
	margin-left: -10px;
	margin-top: -10px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 20px;
}		
		

		

.ui-datepicker select {
	background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom,from(#F9F9F9),to(#E3E3E3));
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	height: auto;
	padding: 2px 0;	
}

table .numeric, table .date, table .datetime, table .text-right {
	text-align: right;
	white-space: nowrap;
	width: 5px;
}


.modal {
	overflow: auto;
}  
.modal-dialog {
	max-width: 900px;
	width: auto; 
}
.modal.crAlert .modal-dialog {
	max-width: 560px;
	width: auto;
}

.modal.modal-gallery {
	width: auto;
}

#fileupload .modal-body {
	max-height: none;
}


.table-force-responsive {
	width: 100%;
	margin-bottom: 15px;
	overflow-x: scroll;
	overflow-y: hidden;
	border: 1px solid #dddddd;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-overflow-scrolling: touch;
}





.form-control .select2-choice, 
.form-control .select2-choices {
	border: 0 !important;
	border-radius: 4px 3px 3px 4px !important;
	box-shadow: 1px 1px rgba(0, 0, 0, 0.045) inset !important;
	background-image: none !important;
	height: 31px;
	line-height: 31px;
}
.form-control .select2-choices {
	border-radius: 4px 3px 3px 4px !important;
}
.form-control.select2-dropdown-open .select2-choice {
	background: none;
}
.form-control .select2-choice .select2-arrow {
	border-radius: 0 0px 0px 0;   
	background:#EEEEEE !important;
	border-left: 1px solid #CCCCCC;
}
	.form-control .select2-choice .select2-arrow b {
		background-position: 0 3px;
	}
.form-control.select2-dropdown-open .select2-choice .select2-arrow {
	background:transparent !important;
	border-left: 0;
}
.form-control.select2-container {
	height: auto !important;
	padding: 0px;
}
.form-control .select2-search-choice {
	background:#EEEEEE !important;
	line-height: 17px !important;
}
.form-control .select2-search-choice-close {
	top:5px;
}
.form-control.select2-container.select2-dropdown-open {
	border-color: #66AFE9;
	border-radius: 4px 4px 0 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.045) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}
.select2-drop-active {
	border-color: #66AFE9;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.045);
}
.select2-no-results {
	color:#555555;
	padding: 5px;
}
.select2-search-field input {
	height: 28px;
	display: block;
	padding:0 5px !important;	
}
.select2-drop.select2-drop-above {
	margin-top: 3px;
}

.userProfile {
	margin-bottom: 10px;
}
